

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 18px;
}
.background{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom right,rgba(240, 107, 18, 0.897), rgba(241, 84, 22, 0.849)) ,url(https://th.bing.com/th/id/OIP.xXQ8aWJPPIVOhk4uLEp_uQHaFj?w=228&h=180&c=7&o=5&dpr=1.56&pid=1.7);
    background-size: 100% 100%;
}
.headingdiv{
 width: 100%;
 height: 15%;
 background-color: wheat;
}
.heading{
width: 60%;
height: 100%;
margin: auto;
font-size: 3rem;
padding: 1% 0 0 20%;
}
.slideShowContainer{
    width: 60%;
    height: 60%;
    margin: 4% 0 0 20%;

    
}
#image{
    width: 100%;
    height: 100%;
    border: 10px solid wheat;
}
#prevButton,#nextButton{
    position: absolute;
    margin-top: -15%;
    margin-left: 0.5%;
    cursor: pointer;
    color: rgb(187, 248, 20);
    font-weight: bold;
    font-size: 2rem;
    width: 2%;
    height: 5%;
    padding-bottom: 3.5%;
    text-align: center;

}
#nextButton{
    position: absolute;
    left: 76.7%;
    
   
}
#number{
 position: absolute;
 padding: 0.4% 0 0 27%;
 color: rgb(3, 3, 3);
 font-size: 2rem;
 font-weight: bold;
}
#textCaption{
    position: absolute;
    margin: -4% 0 0 2%;
    font-size: 2rem;
    font-weight: bold;
    color: rgb(15, 14, 14);
}
#textArtist{
    position: absolute;
    margin: -4% 0 0 50%;
    font-size: 2rem;
    font-weight: bold;
    color: rgb(15, 14, 14);
}
.dots{
    cursor: pointer;
    height: 2%;
    width: 1%;
    margin: 3% 0.3% 0 0%;
    background-color: #bbb;
    border-radius: 50%;
    display:inline-block;
    transition: background-color 0.6s ease;
    border: 2px solid rgb(202, 243, 21);
  }

.showEffect{
    animation-name: visibility;
    animation-duration: 0.8s;
    transition: ease-in-out;
    
}
a:hover{
    transform: scale(1.5,1.5);
    transition: ease-in-out;
}
#prevButton:hover,#nextButton:hover{
    color: rgb(15, 233, 222);
    
}
  

@keyframes visibility{
    0%{
        opacity: 0;
        transform: scale(1.3,1.3);
        transition: ease-out;
       
    }
    100%{
        opacity: 1;
        transform:scale(1,1);
        transition: ease-in;
       
    }
}